<div class="container text-center">
    <h1>About Page</h1>
    <p>This is DevMatch. Our company focuses on creating an exclusive community
    for developers and entrepreneurs to meet. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae quaerat dolorum excepturi eligendi, iure, quis architecto ratione ipsam tempora beatae, maxime ab illum. Voluptate neque tempora minima, ipsum, ex culpa.
    </p>
</div>